<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>领取UGC红包</title>
    <link rel="stylesheet" href="/css/weui.min.css">
    <link rel="stylesheet" href="/css/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <!-- <script src="/js/vconsole.min.js"></script> -->
    <script src="/js/spine-widget.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <!--   <script>
          var vConsole = new VConsole();
      </script> -->

</head>
<body>
    <form action="/reward/reward/index" method="post">
        <table>
            to：<input type="text" name="to">
            <input type="submit" value="提交">
        </table>
    </form>
</body>

</html>